.hidden-y-x {
  overflow-x: hidden;
  overflow-y: hidden;
}
.form-group {
  margin: 20px 0 !important;
}
.row-gap-24 {
  row-gap: 24px;
}
.min-height {
  min-height: 100vh;
}
.main-color {
  color: $main-color;
}
.bg-grey {
  background-color: $bg-grey;
}
.text-subtle-dark {
  color: $subtle-dark;
}
.text-light-gray {
  color: $light-gray;
}
.text-dark-color {
  color: $dark-color;
}
.text-alt-color {
  color: $alt-color;
}
.text-gold-color {
  color: $gold-color;
}
.fs-12 {
  font-size: 12px;
}
.w-fit {
  width: fit-content;
}

// Alerts
.main-alert {
  @include flex-center;
  padding: 4px 8px;
  width: 231px;
  height: 30px;
  background: $xs-light-color;
  border-radius: 8px;
  color: $main-color;
  @include fw-fs-lh(600, 12px, 22px);
}

.sm-text {
  color: $gray-text;
  @include fw-fs-lh(600, 11px, 21px);
}