$main-color: #42D3D8;
$alt-color: #2ECED0;
$mainLight-color: #cffffa;
$xs-light-color: #ecfffd;
$dark-color: #252525;
$light-gray: #AFB1B6;
$danger-color: #EA7777;
$green-color: #34A853;
$lightCover-color: #F4F4F5;
$gold-color: #FBBC05;
$orange-color: #F77721;
$bg-grey:#FBFBFB;
$white-color: #fff;
$black-color: #000;
$gray-text: #929292;
$xt-gray: #CECECE;
$subtle-dark:#61646B;
$trouble-d: #ddd;
$trouble-3: #333;
$trouble-5: #555;
$trouble-7: #777;
$trouble-8: #888;
$trouble-9: #999;
